<nav class="navbar navbar-expand-lg bg-body-tertiary">
    <div class="container-fluid">
      <a class="navbar-brand d-flex" href="/">
        <img class="brand-pic img-thumbnail mat-card-img-sm" alt="MDQ Bids" src="MDQ01.png" />
      </a>
      <h2 class="navbar-brand fs-2 text-pink fw-bold">MDQ Bids</h2>
      <button mat-icon-button color="primary" class="navbar-toggler" type="button" data-bs-toggle="collapse"
        data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
        aria-label="Toggle navigation">
        <mat-icon class="material-symbols-outlined">menu</mat-icon>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" href="/home">
              <button mat-raised-button color="accent">
                <mat-icon class="material-symbols-outlined">home</mat-icon>
                Start
              </button>
            </a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
